<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706121546929-04d3sdehoe5gkik6q4ik6s0sqak0mlje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706121546929-04d3sdehoe5gkik6q4ik6s0sqak0mlje</string>
	<key>API_KEY</key>
	<string>AIzaSyC85YDAvZ9uxfx0kHcNoCIf8-0oI7de8A0</string>
	<key>GCM_SENDER_ID</key>
	<string>706121546929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlosMendieta.PruebaTecnicaLoro</string>
	<key>PROJECT_ID</key>
	<string>loginpruebaloro</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpruebaloro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706121546929:ios:dde37d472ba0679dafb690</string>
	<key>DATABASE_URL</key>
	<string>https://loginpruebaloro.firebaseio.com</string>
</dict>
</plist>